@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}
p {
	margin-top: 0;
}
div[role="tabpanel"] {
	padding: 1rem;
	outline: 1px #ccc solid;
}
div[role="tabpanel"]:not(:first-of-type) {
	display: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	
	display: flex;
}
li {
	padding: 1rem;
	border: 1px solid #ccc;
	border-bottom: none;
	border-radius: 1rem 1rem 0 0;
}
a {
	color: black;
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	
}